body {
	background-color: #EEE;
	background-image: url(../images/stripe.png);
	color: #444;
	font-family: "helvetica neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}

h1 {
	text-shadow: #EEE 1px 1px 1px;
}

a {
	color: #444;
}

a:hover {
	color: #000;
}

#page_logo {
	position: absolute;
	top: 10px;
	left: 20px;
}

#content {
	position: relative;
	width: 660px;
	min-height: 460px;
	border-radius: 45px;
	background-color: #FFF;
	border: 1px dashed #999;
	padding: 20px;
	text-align: center;
	margin: 100px auto 0 auto;
	box-shadow: 3px 3px 2px #CCC;
}

#content #content_header {
	text-align: left;
	width: 430px;
	margin-left: 15px;
	position: absolute;
	top: -20px;
}

#content #content_footer {
	text-align: center;
	width: 630px;
	margin-left: 15px;
	position: absolute;
	bottom: -40px;
	font-style: italic;
}

#content #content_header a {
	font-weight: bold;
}

#content #page {
	text-align: left;
	padding: 1px 0 0 80px;
}

.menu {
	padding-left: 0px;
	list-style: none;
}

.breadcrumbs {
	text-align: left;
	margin-top: 0;
	padding-top: 0;
	padding-left: 80px;
}

.breadcrumbs li {
	display: inline-block;
}

.pad1 {
	padding-top: 10px;
}
